#actors {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.actors-img {
  width: 235  px;
  height: 350px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.actors-img:hover{
  cursor: pointer;
}

#actors-imgs-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#actors-imgs-container>div{
  margin-bottom: 35px;
}

#buttons-div {
  margin: auto;
}
#buttons-div > button {
  font-size: 18px;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: #105f94;
}
#buttons-div *{
  margin-top: 25px;
  margin-right: 15px;
}
