.Profile {
    display: flex;
    flex-direction: column;
}

#profile-picture{
    width: 250px;
    height: 350px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

input{
    margin-left: 20px;
    border: 2px solid white;
    width: 300px;
    border-radius: 10px;
    color: white
}

#upload-button{
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: large;
    margin-left: 20px;
}

#profile-page{
    display: flex;
}