/* @media screen and (min-width: 956px) and (max-width: 1445px)  {
  #actors-imgs-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-between;
  }

}
 */
