@media  screen and (min-width: 800px) and (max-width:1400px) {
  #actors-imgs-container {
    display: grid;
    grid-template-columns:repeat(3,250px);
    justify-content: space-between;
  /* a */
  }

}
